{% extends "base.html" %}

{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static '/css/projects-styles.css' %}" type="text/css"/>
<link rel="stylesheet" href="{% static '/css/slick.css' %}" type="text/css"/>
<link rel="stylesheet" href="{% static '/css/slick-theme.css' %}" type="text/css"/>
{% endblock %}

{% block content %}
<div class="your-class multiple-items">
    <div>your content</div>
    <div>your content</div>
    <div>your content</div>
    <div>your content</div>
    <div>your content</div>
    <div>your content</div>
    <div>your content</div>
</div>
<div class="my-grid-projects">
    {% for project in my_projects %}
    <div class="border border-primary rounded-3 my-standard-background">
        <div class="full-vh-vw-div projects-div" onclick="window.location = '{{project.slug}}'">
            <div class="project-image">
                {% if project.image %}
                <img src="{{project.image.url}}">
                {% else %}
                <img src="{% static '/images/project-puzzle-pieces.jpg' %}">
                {% endif %}
            </div>
            <div class="project-title">
                <h4>{{ project.project_name }}</h4>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<script type="text/javascript" src="{% static '/js/slick.min.js' %}"></script>
<script type="text/javascript" src="{% static '/js/slick-multiple.js' %}"></script>
<script type="text/javascript">
    $(document).ready(function(){
      $('.your-class').slick({
        setting-name: setting-value
      });
    });
</script>
{% endblock %}