{% extends "base.html" %}

{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static '/css/projects-styles.css' %}" type="text/css"/>
<link rel="stylesheet" href="{% static '/css/slick.css' %}" type="text/css"/>
<link rel="stylesheet" href="{% static '/css/slick-theme.css' %}" type="text/css"/>
{% endblock %}

{% block content %}
<div class="my-grid-projects">
    <div class="multiple-items mx-auto">
        {% for project in my_projects %}
        <div class="projects-div mx-2 border border-primary rounded-3 my-standard-background"
             onclick="window.location = '{{project.slug}}'">
            <div class="project-div-single">
                <div class="project-image m-auto">
                    {% if project.image %}
                    <img src="{{project.image.url}}">
                    {% else %}
                    <img src="{% static '/images/project-puzzle-pieces.jpg' %}">
                    {% endif %}
                </div>
                <div class="project-title d-flex text-center justify-content-center align-items-center">
                    <h4>{{ project.project_name }}</h4>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="my-skills my-standard-background mt-4">
        WHAT CAN I DO IN SLIDE SHOW
    </div>
</div>

<script type="text/javascript" src="{% static '/js/slick.min.js' %}"></script>
<script type="text/javascript" src="{% static '/js/slick-multiple.js' %}"></script>
{% endblock %}