{% extends "base.html" %}

{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static '/css/about-styles.css' %}" type="text/css"/>
{% endblock %}

{% block content %}
{% load cropping %}
<div class="border border-primary rounded-3 d-flex flex-column my-standard-background justify-content-center align-items-center div-about-main">
    <div class="div-about">
        {{about.about_text|linebreaks}}
    </div>
    <div class="div-skills">
        <div id="carouselAbout" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-inner">
                {% if images %}
                {% for img in images %}
                {% if forloop.counter == 1 %}
                <div class="carousel-item active" data-bs-interval="3000">
                    {% else %}
                    <div class="carousel-item" data-bs-interval="3000">
                        {% endif %}
                        <h3 class="text-center bg-secondary mb-0 rounded-top">{{img.title}}</h3>
                        <img src=" {% cropped_thumbnail img 'cropping' %}" class="d-block w-100" alt="{{ img.title }}">
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
                <button class="carousel-control-prev" data-bs-target="#carouselAbout" type="button"
                        data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" data-bs-target="#carouselAbout" type="button"
                        data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>

        </div>
    </div>
</div>
{% endblock %}