{% extends "base.html" %}

{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static '/css/todoapp-styles.css' %}" type="text/css"/>
{% endblock %}

{% block content %}
<div class="border border-primary rounded-3 my-standard-background todoapp-main-box">
    <h1>Your Projects (TaskGroups)</h1>
    <a href="{% url 'taskgroup_create' %}">Add TaskGroup</a>
    {% for taskgroup in taskgroup_list %}
    <div>
        <div>
            <h5>{{ taskgroup.name }}</h5>
            <p>{{ taskgroup.author }}</p>
            <p>
                <strong>Completed:</strong>
                {% if taskgroup.is_done %}
                Yes
                {% else %}
                No
                {% endif %}
            </p>
            <a href="{% url 'taskgroup_detail' taskgroup.slug %}">
                Read more
            </a>
            <a href="{% url 'taskgroup_delete' taskgroup.slug %}">
                Delete task
            </a>
        </div>
    </div>
    {% empty %}
    <h3>No taskgroups yet.</h3>
    {% endfor %}

</div>
{% endblock %}