{% extends "base.html" %}

{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static '/css/todoapp-styles.css' %}" type="text/css"/>
{% endblock %}

{% block content %}
<div class="border border-primary rounded-3 my-standard-background todoapp-main-box">
    <div class="todoapp-taskgroup-name d-flex flex-column justify-content-center align-items-center">
        <h1>Your Projects (TaskGroups)</h1>
        <a href="{% url 'taskgroup_create' %}"><h2>Add TaskGroup</h2></a>
    </div>
    <div class="todoapp-taskgroup-tasks">
        {% for taskgroup in taskgroup_list %}

        <div class="single-task-on-list border border-primary rounded-3">
            <h5>{{ taskgroup.name }}</h5>
            <p>Author: {{ taskgroup.author }}</p>
            <p>
                <strong>Completed:</strong> {% if taskgroup.is_done %} Yes {% else %} No {% endif %}
            </p>
            <a href="{% url 'taskgroup_detail' taskgroup.slug %}">
                Read more
            </a>
            <a href="{% url 'taskgroup_delete' taskgroup.slug %}">
                Delete task
            </a>
        </div>

        {% empty %}
        <h3>No taskgroups yet.</h3>
        {% endfor %}
    </div>
</div>
{% endblock %}