{% extends "base.html" %}

{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static '/css/todoapp-styles.css' %}" type="text/css"/>
{% endblock %}

{% block content %}
<div class="border border-primary rounded-3 my-standard-background todoapp-main-box">
    <div class="todo-taskgroup-title-author">
        <div class="todoapp-taskgroup-name todo-flex-center-everything">
            <h1>Your Projects</h1>
            <div class="todo-flex-center-everything">
                <a href="{% url 'taskgroup_create' %}"><h2>Add Project</h2></a></div>
        </div>
    </div>
    <div class="todoapp-taskgroup-tasks">
        {% for taskgroup in taskgroup_list %}

        <div class="single-task-on-list border border-primary rounded-3">
            <div class="todo-flex-center-everything"><h4>{{ taskgroup.name }}</h4></div>
            <div class="todo-flex-center-everything"><h6>Author: {{ taskgroup.author.username }}</h6></div>
            <div class="taskgroup-complete todo-flex-center-everything">
                <strong>Completed:</strong> {% if taskgroup.is_done %} Yes {% else %} No {% endif %}
            </div>
            <div class="taskgroup-read-delete">
                <div class="todo-flex-center-everything p-2">
                    <a href="{% url 'taskgroup_detail' taskgroup.slug %}">Read more </a>
                </div>
                <div class="todo-flex-center-everything p-2">
                    <a href="{% url 'taskgroup_delete' taskgroup.slug %}">Delete</a>
                </div>
            </div>
        </div>

        {% empty %}
        <h3>No taskgroups yet.</h3>
        {% endfor %}
    </div>
</div>
{% endblock %}