html, body {
min-height: 100vh;
min-width: 100vw;
cursor: url('/static/images/pointer-32x32.png') 10 3, default;
margin: 0;
}

body {
  background-image: url('/static/images/background-redesignit.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Roboto', sans-serif;
}

#page-container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
#main-container{
    flex: 1;
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
    min-height: 100%;

}

.work-in-progress {
  width: 400px;
  height: auto;
}

.center{
justify-content: center;
align-items: center;
vertical-align:middle;
}

.my-standard-background{
    background-color:rgba(93,208,81,0.7);
}