@import "header.css";
@import "footer.css";
@import "content.css";

html, body {
height: 100%;
margin: 0;
padding: 0;
}

body {
  background-image: url('/static/images/background-redesignit.png');
  background-size: cover;
}

h1 {
  color: rgb(205, 205, 236);
  margin-left: 20px;
  text-align: center;
}

.work-in-progress {
  width: 400px;
  height: auto;
}
