@import "header.css";
@import "content-home.css";
@import "content-projects.css";
@import "footer.css";


html, body {
height: 100%;
width: 100%;
cursor: url('/static/images/pointer-32x32.png') 10 3, default;
}

body {
  background-image: url('/static/images/background-redesignit.png');
  background-size: cover;
}


#container{
max-width: 1000px;
justify-content: center;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  height: 100%
  padding-bottom: 30px;
}

.work-in-progress {
  width: 400px;
  height: auto;
}

.center{
justify-content: center;
align-items: center;
vertical-align:middle;
}
