html {

}

body {
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #e3f2fd !important;
  margin-left: 100px;
}

 /* Style the header */
#header-sticky {
  padding: 10px 16px;
  background: #555;
  color: #f1f1f1;
}

/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 102px;
}



div {
border: 2px solid black;
}
h1 {
  color: rgb(205, 205, 236);
  margin-left: 20px;
  text-align: center;
}

.nav-background{
background-color: #e3f2fd;
}

.work-in-progress {
  width: 400px;
  height: auto;
}

