canvas {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    width: 100vmin;
    height: 100vmin;
    overflow: hidden;
}

.div-orb{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background: black;
    overflow: hidden;
    aspect-ratio: 1;
    max-height: 500px;
    max-width: 500px;
    min-height: 260px;
    min-width: 260px;
}