{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="content-home">
    <div class="div-main-left-section">
        <div class="main-left-section-content border border-primary rounded-3">
            <h4>Programming languages used to build this site:</h4>
            <div class="equal-row-height">
                {% for programming_language in programming_languages %}
                <div class="languages-frameworks-div rounded-3 d-flex align-items-center justify-content-center">
                    {% if programming_language.image %}
                    <img src="{{programming_language.image.url}}">
                    {% else %}
                    {{programming_language.programming_language_name}}
                    {% endif %}
                </div>
                {% endfor %}
            </div>
            <h4>Frameworks used to build this site:</h4>
            <div class="equal-row-height">
                {% for framework in frameworks %}
                <div class="languages-frameworks-div rounded-3 d-flex align-items-center justify-content-center">
                    {% if framework.image %}
                    <img src="{{framework.image.url}}">
                    {% else %}
                    {{framework.framework_name}}
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="div-main-mid-section">
        <div class="intro-main-mid border border-primary rounded-3">
            <h1><p>Hi, my name is<br>Arkadiusz Budkowski</p></h1>
            <h3><p>This is my portfolio testing ground</p></h3>
            <p>
                <b>
                    <p>I upload the latest code of this site to </p>
                    <p><a href="https://github.com/Hamster-Inside/ReDesignIT_PL" target="_blank" class="a-img-git-main"><img
                            src="{% static '/images/github-logo.png' %}" class="git-logo"/></a></p>
                    <p>almost every day</b></p>
            </p>
        </div>
        <div class="me-pic">
            <img src="{% static '/images/hexa-me.png' %}"/>
        </div>
    </div>
    <div class="div-main-right-section">
        <div class="main-right-section-content border border-primary rounded-3">
            <h4>
                My profiles:
            </h4>
            <div class="equal-row-height">
                {% for social_profile in social_profiles %}
                <div class="profiles-div rounded-3 d-flex align-items-center">
                    <a href="{{social_profile.profile_url}}" target="_blank">
                        <img src="{{social_profile.image.url}}" alt="{{social_profile.profile_name}}">
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}