{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="div-main-left-section col">
    <div class="main-left-section-content border border-primary rounded-3">
        <h4><p>Technologies used to build this site:</p></h4>
        <ul>
            <li>DJANGO</li>
            <li>Bootstrap5</li>
            <li>HTML, CSS, JS</li>
        </ul>
    </div>
</div>
<div class="div-main-mid-section col-7">
    <div class="intro-main-mid border border-primary rounded-3">
        <h1><p>Hi, my name is<br>Arkadiusz Budkowski</p></h1>
        <h3><p>This is my portfolio testing ground</p></h3>
        <p>
            <b>I upload the latest code of this site to <a href="https://github.com/Hamster-Inside/ReDesignIT_PL"
                                                           style="color: aqua" target="_blank"><img
                    src="{% static '/images/github-logo.png' %}" class="git-logo"/></a> almost every day</b>
        </p>
    </div>

    <img src="{% static '/images/hexa-me.png' %}" class="me-pic"/>
</div>
<div class="div-main-right-section col">
    <div class="main-right-section-content border border-primary rounded-3 d-grid gap-3">
        <h4>
            My profiles:
        </h4>
        {% for social_profile in social_profiles %}

            <div class="d-flex align-items-center profiles-div rounded-3"><a href="{{social_profile.profile_url}}"
                                                   target="_blank"><img src="{{social_profile.image.url}}"></a>
            </div>

        {% endfor %}
    </div>
</div>

{% endblock %}