{% extends "shop_base.html" %}

{% block styles %}
<link rel="stylesheet" href="{% static '/css/shop-styles.css' %}" type="text/css"/>
{% endblock %}

{% block content %}
<div class="content-shop">


    <h1>
        {% for category in breadcrumbs %}
        {% if forloop.first %}
        <a href="{% url 'shop' %}">{{ category.name }}</a>
        {% else %}
        <a href="{% url 'category_detail' slug=category.slug %}">{{ category.name }}</a>
        {% endif %}
        {% if not forloop.last %} > {% endif %}
        {% endfor %}
    </h1>
    {% for product in products %}
    <div class="bg-primary text-light p-3">
        <h3>{{ product.name }}</h3>
        <p>{{ product.description }}</p>
        <p>Price: {{ product.price }}</p>
        <!-- Add other product details as needed -->
    </div>
    {% endfor %}


</div>
{% endblock %}