{% extends "shop_base.html" %}

{% block styles %}
<link rel="stylesheet" href="{% static '/css/shop-styles.css' %}" type="text/css"/>
{% endblock %}

{% block content %}
<div class="content-shop">


    <p>
    <span>
        <a href="{% url 'shop' %}">Racoon Shop</a> >
        {% for category in breadcrumbs %}
        <a href="{% url 'category_detail' slug=category.slug %}">{{ category.name }}</a>
        {% if not forloop.last %} > {% endif %}
        {% endfor %}
    </span>
    </p>


    <h1> Description </h1>
    <div class="product-description-details">
        {{product.description|linebreaksbr}}
    </div>

    <div class="product-price-in-details">
        Price: {{product.price}}
    </div>


</div>
{% endblock %}