{% extends "shop_base.html" %}
{% load mptt_tags %}
{% block styles %}
{% endblock %}

{% block content %}
<div class="content-shop">
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2"
                data-bs-toggle="dropdown" aria-expanded="false">
            Categories
        </button>
        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
            {% recursetree nodes %}
            <li>
                <a class="dropdown-item" href="{% url 'category_detail' slug=node.slug %}">
                    {% for i in node.indentation_range %} &nbsp; &nbsp; {% endfor %}
                    {{ node.name }}
                </a>
                {% if not node.is_leaf_node %}
                {{ children }}
            </li>
            {% endif %}
            {% endrecursetree %}
        </ul>
    </div>

</div>
{% endblock %}