{% load static %}

<div class="top-container">
    <nav class="navbar navbar-expand-lg">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
              integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
              crossorigin="anonymous">
        <ul class="navbar-nav ms-auto navbar-nav-as-row">
            {% if user.is_authenticated %}
            <li class="nav-item mx-2">
                <a class="nav-link header-login-text" href="/logout">Logout</a>
            </li>
            <li class="nav-item mx-2">
                <a class="nav-link header-login-text">Welcome, {{user.username}}</a>
            </li>
            {% else %}
            <li class="nav-item mx-2">
                <a class="nav-link header-login-text" href="/login">Login</a>
            </li>
            {% endif %}
        </ul>
    </nav>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8">
                <form class="card card-sm">
                    <div class="card-body p-1 row no-gutters align-items-center">
                        <div class="col-auto">
                            <i class="fas fa-search h4 text-body"></i>
                        </div>
                        <div class="col">
                            <input class="form-control form-control-lg form-control-borderless" type="search"
                                   placeholder="Search product">
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-lg btn-success" type="submit">Search</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>