{% load static %}

<footer class="my-footer bg-transparent d-flex align-items-center justify-content-center">
    <div class="bg-light d-flex flex-wrap align-items-center justify-content-center gap-3 mx-auto">
        <p>&copy; 2024 RACOON SHOP. All rights reserved.</p>
        <p>Contact us: <a href="mailto:racoon_shop@gmail.com">racoon_shop@gmail.com</a></p>
        <p>Follow us:
            <a href="https://facebook.com/racoon_shop" target="_blank">Facebook</a> |
            <a href="https://twitter.com/racoon_shop" target="_blank">Twitter</a> |
            <a href="https://instagram.com/racoon_shop" target="_blank">Instagram</a>
        </p>
    </div>
</footer>