{% extends "base.html" %}

{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static '/css/contact-styles.css' %}" type="text/css"/>
<link rel="stylesheet" href="{% static '/css/contact-orb-style.css' %}" type="text/css"/>
{% endblock %}

{% block content %}
<div class="border border-primary rounded-3 my-standard-background div-contact">

    <h1>{{contact_me.contact_text|linebreaks}}</h1>
    <h2><div id="myText"></div></h2><br>
   <div class="div-mail"> <a href="mailto:{{contact_me.contact_email}}"><h3>{{contact_me.contact_email}}</h3></a></div>


<div class="div-orb d-flex align-items-center justify-content-center rounded-circle"> <canvas></canvas></div>
<script src="{% static '/js/contact-one-by-one-writing.js' %}"></script>
    <script src="{% static '/js/contact-orb.js' %}"></script>
</div>
{% endblock %}