{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static '/css/footer.css' %}" type="text/css"/>
{% endblock %}

<footer class="my-footer bg-light">
    <div class="digitalocean_ad"><a
            href="https://www.digitalocean.com/?refcode=54ee60ac54c4&utm_campaign=Referral_Invite&utm_medium=Referral_Program&utm_source=badge"><img
            src="https://web-platforms.sfo2.cdn.digitaloceanspaces.com/WWW/Badge%201.svg"
            alt="DigitalOcean Referral Badge"/></a>
    </div>
    <div class="foot"> &copy; {% now "Y" %} ReDesignIT. All rights reserved.</div>
</footer>