<!--<header class="main-header">-->
<!--    <div class="container justify-content-center">-->
<!--        <nav class="navbar" style="background-color: #e3f2fd;">-->
<!--            <div class="container-fluid justify-content-center">-->
<!--                <a href="/">-->
<!--                    <button type="button" class="btn btn-outline-success me-2">Home</button>-->
<!--                </a><a href="/projects/">-->
<!--                <button type="button" class="btn btn-sm btn-outline-secondary">My Projects</button>-->
<!--            </a>-->
<!--            </div>-->
<!--        </nav>-->
<!--    </div>-->
<!--</header>-->

{% load static %}

<div class="top-container">
</div>
<header class="header" id="header-sticky">
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand d-block d-lg-none" href="{% url 'home' %}">
                <img src="{% static '/images/logo-redesign.jpg' %}"/>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mx-auto border border-primary rounded-3">
                <li class="nav-item">
                    <a class="nav-link mx-2 active navbar-custom" aria-current="page" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-2" href="{% url 'projects' %}">Projects</a>
                </li>
                <li class="nav-item d-none d-lg-block">
                    <a class="nav-link mx-2" href="{% url 'home' %}">
                        <img src="{% static '/images/logo-redesign.jpg' %}" height="80"/>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-2" href="{% url 'about' %}">About me</a> </p>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link mx-2 dropdown-toggle" href="{% url 'contact' %}" id="navbarDropdownMenuLink"
                       role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Contact me
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="#">Blog</a></li>
                        <li><a class="dropdown-item" href="#">About Us</a></li>
                        <li><a class="dropdown-item" href="#">Contact us</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>
<!--<script src="{% static '/js/header-sticky.js' %}"></script>   #TODO sticky is causing me some problems when page is not big enough-->