{% load static %}

<div class="top-container">
     <nav class="navbar navbar-expand-lg">
        <ul class="navbar-nav ms-auto navbar-nav-as-row">
            {% if user.is_authenticated %}
            <li class="nav-item mx-2">
                <a class="nav-link header-login-text" href="/logout">Logout</a>
            </li>
            <li class="nav-item mx-2">
                <a class="nav-link header-login-text">Welcome, {{user.username}}</a>
            </li>
            {% else %}
            <li class="nav-item mx-2">
                <a class="nav-link header-login-text" href="/login">Login</a>
            </li>
            {% endif %}
        </ul>
    </nav>
</div>
<header class="header" id="header-sticky">
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand d-block d-lg-none" href="{% url 'home' %}">
            <img src="{% static '/images/logo-redesign.jpg' %}" class="rounded-3" height="80"/>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mx-auto rounded-3">
                <li class="nav-item d-flex align-items-center">
                    <a class="nav-link mx-2 active navbar-custom" aria-current="page" href="{% url 'home' %}">
                        <div class="header-button-like-div d-flex align-items-center rounded-3">Home</div>
                    </a>
                </li>
                <li class="nav-item d-flex align-items-center">
                    <a class="nav-link mx-2" href="{% url 'projects' %}">
                        <div class="d-flex align-items-center header-button-like-div rounded-3">Projects</div>
                    </a>
                </li>
                <li class="nav-item d-none d-lg-block">
                    <a class="nav-link mx-2" href="{% url 'home' %}">
                        <img src="{% static '/images/logo-redesign.jpg' %}" class="rounded-3" height="80"/>
                    </a>
                </li>
                <li class="nav-item d-flex align-items-center">
                    <a class="nav-link mx-2" href="{% url 'about' %}">
                        <div class="header-button-like-div d-flex align-items-center rounded-3">About me</div>
                    </a>
                </li>
                <li class="nav-item d-flex align-items-center">
                    <a class="nav-link mx-2" href="{% url 'contact' %}">
                        <div class="header-button-like-div d-flex align-items-center rounded-3">Contact me</div>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<!--<script src="{% static '/js/header-sticky.js' %}"></script>   #TODO sticky is causing me some problems when page is not big enough-->