/* Page content */
.content-home {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    width: 100%;
    grid-column-gap: 10px;
    padding-left: 30px;
    padding-right: 30px;
}
@media (max-width: 650px) {
  .content-home {
    grid-template-columns: 1fr;
  }

  .div-main-left-section {
    order: 2;
  }

  .div-main-right-section {
    order: 3;
  }
}
.div-main-mid-section{
}
.div-main-mid-section p,
.div-main-mid-section img {
display:block;
margin: 0 auto;
}

.profiles-div img{
max-height: 30px;
max-width: 80%;
height: auto;
}

.languages-frameworks-div img{
max-height: 30px;
max-width: 80%;
height: auto;
}

.intro-main-mid, .main-left-section-content, .main-right-section-content{
    background-color:rgba(93,208,81,0.7);
    padding: 10px 10px 10px 10px;
    justify-content: center;
    text-align: center;
    min-width: 0px;
}

.equal-row-height {
    display: grid;
    grid-auto-rows: 1fr;
    grid-row-gap: 10px;
}

.profiles-div{
    display:inline-block;
    color:#444;
    border:1px solid #CCC;
    background:#DDD;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
    cursor:pointer;
    vertical-align:middle;
    padding: 5px;
    text-align: center;

    }

.languages-frameworks-div{
    display:inline-block;
    color:#444;
    border:1px solid #CCC;
    background:#DDD;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
    vertical-align:middle;
    padding: 5px;
    text-align: center;
}


.profiles-div:hover {
  background-color: yellow;
  box-shadow: 0 0 5px -1px rgba(0,0,0,0.6);
}

.polygon-for-pic {
  clip-path: polygon(25% 0, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  position: relative;
  max-width: 80%;
  margin: 30px auto 0 auto;
    aspect-ratio: 1.1547005/1;

}

.me-pic {
  clip-path: polygon(25% 0, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  background: linear-gradient(0deg, black, rgb(44, 43, 40));
  width: 90%;
  height: 90%;
  position: relative;
  justify-content: flex-end;
}

.pic-to-bottom img {
  display: block;
  width: 85%;
  height: 100%;
  object-fit: contain;
}
.pic-to-bottom{
  width: 100%;
  bottom: 0;
}
.polygon-for-pic::before, polygon-for-pic::after {
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    z-index: -1;
    background: linear-gradient(45deg, #e6fb04, #ff6600, #00ff66, #00ffff, #ff00ff, #ff0099, #6e0dd0, #ff3300, #099fff);
    background-size: 400%;
    -webkit-animation: glow 20s linear infinite; /* Adjust the duration and other properties as needed */
    -webkit-animation-delay: 500ms;
}

@-webkit-keyframes glow {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

.git-logo {
  width: auto;
  max-height: 50px;
}

.a-img-git-main{
  display: inline-block;
  max-height: 50px;

}

.div-main-statistics{
    overflow-x: auto;
    padding-left: 20px;
    padding-right: 20px;
}
