{% extends "base.html" %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static '/css/login-styles.css' %}" type="text/css"/>
{% endblock %}

{% block content %}

{% load crispy_forms_tags %}

<div class="border border-primary rounded-3 my-standard-background d-flex align-items-center justify-content-center">
    <!--Login-->
    <div id="login-box">
        <div class="container py-5">
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}
            <h1>Login</h1>
            <form method="POST">
                {% csrf_token %}
                 {{ login_form|crispy|safe }}
                <button class="btn btn-primary" type="submit">Login</button>
            </form>
            <p class="text-center">Don't have an account? <a href="/register">Create an account</a>.</p>
        </div>
    </div>
</div>

</div>

{% endblock %}