/* Styles for .my-grid-projects */
.my-grid-projects {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  padding-left: 30px;
  padding-right: 30px;
}

/* Styles for .slick-projects */
.slick-projects {
  width: 100%;
  max-width: 800px;
  max-height: 200px;
  min-height: 200px;
  padding-left: 30px;
  padding-right: 30px;
}
.multiple-items {
  width: 80%;
  height: 200px;
}

@media (max-width: 500px) {
  .multiple-items {
    max-width: 300px;
  }
}
.slick-list{
height: 100%;
}
.slick-track {
  height: 100%;
  display: flex !important;
}

@media (max-width: 500px) {
  .multiple-items {
    max-width: 300px;
  }
}

/* Styles for .my-grid-project-detail */
.my-grid-project-detail {
  display: grid;
  grid-template-rows: 1fr auto;
  grid-row-gap: 10px;
  margin-left: 30px;
  margin-right: 30px;
}

/* Styles for .div-project-detail-summary */
.div-project-detail-summary {
  text-align: justify;
}

/* Styles for .div-project-detail */
.div-project-detail {
  padding: 10px 10px 10px 10px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-row-gap: 10px;
}

/* Styles for .full-vh-vw-div */
.full-vh-vw-div {
  width: 100%;
  height: 100%;
}

/* Styles for .projects-div */
.projects-div {
  display: flex !important;
  flex-direction: column;
  height: 100px;
}

/* Styles for .project-title */
.project-title {
  display: flex;
  flex: 30;
  justify-content: center;
}

.project-title h4 {
  flex: 1;
}

/* Styles for .project-image */
.project-image {
  display: flex;
  min-height: 70%;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  object-fit: contain;
}

.project-image img {
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
}

/* Styles for .projects-div:hover */
.projects-div:hover {
  background-color: rgba(93, 208, 81, 0.9);
  cursor: pointer;
}

/* Styles for .div-link-to-source */
.div-link-to-source {
  display: inline-block;
  color: #444;
  border: 1px solid #ccc;
  background: #ddd;
  box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  vertical-align: middle;
  padding: 5px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.div-link-to-source:hover {
  background-color: yellow;
  box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.6);
}

/* Styles for .div-connected-links */
.div-connected-links {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.div-link-to-source img {
  max-width: 80%;
  height: auto;
}
