.my-grid-projects {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  padding-left: 5px;
  padding-right: 5px;
}

.slick-projects {
  width: 100%;
  max-width: 800px;
}

.multiple-items {
  width: 100%;
}

.slick-slide {
  height: 300px;
  max-height: 300px;
  padding: 1px;
}

.slick-list {
  height: 100%;
}

.slick-track {
  height: 300px;
  display: flex !important;
}

.slick-list {
  display: flex;
  flex-direction: column-reverse;
}

.slick-prev,
.slick-next {
  margin-top: 10px;
  z-index: 1;
}

.slick-prev {
  left: 0;
}

.slick-next {
  right: 0;
}

@media (max-width: 300px) {
  .slick-prev {
    left: 10px;
    bottom: -120px;
    top: auto;
  }

  .slick-next {
    right: 10px;
    bottom: -120px;
    top: auto;
  }
}

.projects-div {
  height: 100%;
  max-width: 100%;
}

.project-image {
  height: 70%;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.project-image img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}


.project-detail-img img{
    max-width: 100%;
    max-height: 100%;
}


.projects-div:hover {
  background-color: rgba(93, 208, 81, 0.9);
  cursor: pointer;
}

.div-link-to-source {
  max-width: 70%;
  color: #444;
  border: 1px solid #ccc;
  background: #ddd;
  box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  vertical-align: middle;
  padding: 5px;
  text-align: center;
  margin: 10px auto 10px auto;
}

.div-link-to-source a {
    max-height: 100%;
}

.div-link-to-source img {
  max-width: 100%;
  max-height: 50px;
  object-fit: contain;
}

.div-link-to-source:hover {
  background-color: yellow;
  box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.6);
}



