.my-grid-projects {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  padding-left: 5px;
  padding-right: 5px;
}

.slick-projects {
  width: 100%;
  max-width: 800px;
}

.multiple-items {
  width: 100%;
}

.slick-slide {
  height: 300px;
  max-height: 300px;
  padding: 1px;
}

.slick-initialized {
  overflow: hidden;
}

.slick-list {
  height: 100%;
  overflow-x: hidden;
}

.slick-track {
  height: 300px;
  display: flex !important;
  overflow-x: hidden;
}

.slick-list {
  display: flex;
  flex-direction: column-reverse;
}

.slick-prev,
.slick-next {
  margin-top: 10px;
}

.slick-prev {
  left: 0;
}

.slick-next {
  right: 0;
}

@media (max-width: 300px) {
  .slick-prev {
    left: 10px;
    bottom: -120px;
    top: auto;
  }

  .slick-next {
    right: 10px;
    bottom: -120px;
    top: auto;
  }
}

.my-grid-project-detail {
  display: grid;
  grid-template-rows: 1fr auto;
  grid-row-gap: 10px;
  margin-left: 30px;
  margin-right: 30px;
}

.div-project-detail {
  padding: 10px 10px 10px 10px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-row-gap: 10px;
}

.projects-div {
  height: 100%;
  max-width: 100%;
}

.project-title {}

.project-title h4 {}

.project-image {
  height: 70%;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.project-image img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.projects-div:hover {
  background-color: rgba(93, 208, 81, 0.9);
  cursor: pointer;
}

.div-link-to-source {
  display: inline-block;
  color: #444;
  border: 1px solid #ccc;
  background: #ddd;
  box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  vertical-align: middle;
  padding: 5px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.div-link-to-source:hover {
  background-color: yellow;
  box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.6);
}

.div-connected-links {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.div-link-to-source img {
  max-width: 80%;
  height: auto;
}
